[Unit]
Description=Wi-Fi Setup Flask Server
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/hans
ExecStart=/usr/bin/python3 /home/hans/wificonfig.py


# Stop the service after 6 minutes (360 seconds)
RuntimeMaxSec=360
KillMode=process

Restart=no

[Install]
WantedBy=multi-user.target
